.editor {
  width: 640px;
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  white-space: pre-wrap;
}

.previewContainer {
  width: 580px;
  white-space: pre-wrap;
}

.codeEditor {
  -webkit-box-shadow: inset 1px 1px 9px -4px rgba(120, 120, 120, 1);
  -moz-box-shadow: inset 1px 1px 9px -4px rgba(120, 120, 120, 1);
  box-shadow: inset 1px 1px 9px -4px rgba(120, 120, 120, 1);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer > * {
  dislay: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

.button {
  background-color: #000a41;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border: none;
  color: white;
  padding: 14px 36px 14px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 8px;
  width: 110px;
}

.button:hover {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.16);
}
.button:focus {
  outline: none;
}
